@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #93c5fd; /* Blue-300 color for the thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Styles for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #dbeafe; /* Light blue color for the track */
  border-radius: 4px;
}
